@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


*{
  font-family: 'Cabin';
  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('img-bg.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

.home h1{
  font-size: 100px;
  margin-bottom: 0;
}

.home .login-button
{
  margin-top: 10px;
  max-width: 200px;
  width: 130%;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}